@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <h1 class="display-4">Students List</h1>
    <h2>@ViewData["text"]</h2>
    <h2>@ViewBag.text1</h2>
    <h2>@TempData["text2"]</h2>

    <a href="/Home/MyForm">MyForm</a>
    <a href="/Home/Helper">Helper</a>
    <a href="/Home/LoginForm">LoginForm</a>

</div>
