@* Using Action Method *@

@* <form name="fr" action="/Home/ShowData">
	<lable>Enter Name</lable>

	<br />

	<input type="text" name="name" />
	<br />
	<br />


	<lable>Enter Gender</lable>

	<br />

	<input type="text" name="gender"/>
	<br/>
	<br />



	<input type="submit" value="Submit"/>
</form> *@


<form name="fr" action="/Home/ShowData" method="post">
	<lable>Enter Name</lable>

	<br />

	<input type="text" name="name" />
	<br />
	<br />


	<lable>Enter Gender</lable>

	<br />

	<input type="text" name="gender"/>
	<br/>
	<br />



	<input type="submit" value="Submit"/>
</form>


