<form method="post" action="Create">
<table>
	<tr>
		<th>Name</th>
		<th>Alergies</th>
		<th>Mobile</th>
	</tr>
	<tr>
		<td><input type="text" name="Name" id="Name"/></td>
		<td><input type="text" name="Alergies" id="Alergies"/></td>
		<td><input type="text" name="Mobile" id="Mobile"/></td>
		<td><input type="submit" class="btn btn-secondary"/></td>
	</tr>
</table>

</form>