<h1>Home Page</h1>
<div class="selectlength">
    <form>
        <select name="selectStatus" [(ngModel)]="selectStatus" (ngModelChange)="filterTodos()">
            <option value="all">All</option>
            <option value="pending">Pending</option>
            <option value="done">Done</option>
        </select>
    </form>
    <h3>Total To Do is: {{filteredTodoList.length}}</h3>
</div>
<table class="todo-table">
    <thead>

        <tr>
            <th>Id</th>
            <th>ToDo</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (todo of filteredTodoList; track todo) {
        <tr>
            <td>{{todo.id}}</td>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.status }}</td>
            <td>
                <button class="btn edit" routerLink="/edit/{{todo.id}}">Edit</button>
                <button class="btn delete" (click)="deleteTodo(todo.id)">Delete</button>
                <button (click)="changeStatus(todo.id)"
                    [ngClass]="{'btn-done': todo.status === 'done', 'btn-pending': todo.status === 'pending'}">
                    {{ todo.status === 'pending' ? 'Pending' : 'Done' }}
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>